{% extends 'core/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="w-full min-h-[calc(100vh_-_74px)] flex items-center justify-center">
  <div class="flex flex-col w-full max-w-[300px]">
    <h1 class="mb-6 text-2xl text-bold">Faça seu login</h1>
  
    <form class="flex flex-col gap-3" method="POST" action=".">
      {% csrf_token %}
    
      <div class="flex flex-col gap-3">
        <label for="">Nome de usuário</label>
        {{ form.username }}
      </div>
      <div class="flex flex-col gap-3">
        <label for="">Senha</label>
        {{ form.password }}
      </div>

      {% if form.errors or form.non_field_errors %}
        <div class="p-6 bg-red-100 rounded-xl">
          {% for field in form %}
              {{ field.errors }}
          {% endfor %}

          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <button class="mt-4 bg-purple-500 h-[42px] text-white hover:bg-purple-700 text-center">Entrar</button>
    </form>

    <a class="mt-4 text-center" href="{% url 'core:signup' %}">Não possui uma conta? <strong class="text-purple-500">Crie agora</strong> </a>
  </div>
</div>
{% endblock content %}